body {
  margin: 0;
  background-color: rgba(79, 89, 221, 0.623);
  font-size: 17px;
  line-height: 135%;
  /* part of the sticky footer solution */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav a {
  color: rgb(218, 214, 214);
  padding: 0 10px;
  text-decoration: none;
}
h1 {  
  color: rgb(143, 12, 12);
}
nav a {
  color: rgb(218, 214, 214);
  padding: 0 10px;
  text-decoration: none;
}

nav .active {
  color: white;
}
header {
  background-color: rgb(190, 67, 98);
  padding: 20px;
  margin-bottom: 30px;
}
footer {
  text-align: center;
  margin-top: 30px;
  color: white;
  padding: 20px;
  background-color: rgb(143, 12, 12);
}

main article {
  margin: 0 auto;
  max-width: 650px;
  padding: 20px;
}

.trailerPlayer {

}

.trailerbutton {
  background-color: rgb(190, 67, 98);
  border: none;
  color: white;
  padding: 70px 40px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position:center;
 
}

#canvas{
  width: 400px;
  height: 240px;
}
.container {
  background: black;
  display: inline-block;
  border: 5px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 5px;
}

.cell {
   /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}