<article>
  <h1>Här har vi filmerna som finns att boka osv etc osv</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis error quasi possimus animi suscipit
    voluptates
    eum modi. Blanditiis quam necessitatibus ad, ab similique, maiores numquam culpa inventore earum distinctio
    sequi.
  </p>
  <p>Necessitatibus eius et dolorum illum modi ipsa, inventore, eum, aliquid optio saepe sed cupiditate veniam
    explicabo
    sint facilis beatae nulla unde temporibus quaerat reiciendis sunt pariatur! Ipsam libero adipisci autem.</p>
  <p>Id, a? Quos nemo cum corrupti reprehenderit ex dignissimos sit rem, laudantium vitae incidunt architecto
    repellat
    amet maiores nobis iure deserunt in magni error suscipit. Iste autem corporis rerum aliquid?</p>

</article>