<article>
  <!-- Headline -->
  <h1>Startsidan, här har vi movie previews yes?</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eius deleniti at hic accusantium ratione eum
    ab
    culpa nemo exercitationem sint porro, est quas explicabo iusto enim? Vitae, maxime velit.</p>
  <p>Laboriosam, commodi illum? Maxime optio debitis doloribus aspernatur distinctio voluptatum eius? Ipsam
    consequatur
    quia rem nulla labore consequuntur soluta ex minima, eveniet asperiores deserunt commodi sapiente pariatur at
    magni
    provident.</p>
  <p>Vel nostrum distinctio quas tenetur et id suscipit placeat doloribus nihil corporis sint dolorem voluptatem,
    consequuntur magnam neque magni saepe tempora obcaecati dicta recusandae, ut autem nobis? Nam, aspernatur
    reiciendis!</p>
  <p>Blanditiis laboriosam cum possimus, quaerat officia quis libero mollitia! Ea magnam molestiae explicabo tenetur
    alias excepturi, architecto cupiditate repudiandae possimus, mollitia, velit animi ipsum qui temporibus itaque
    officiis praesentium aspernatur.</p>
</article>