<div class="trailerPlayer">
  <center>
    <button id="leftButton" class="trailerbutton" onclick="previousTrailer()">&lt</button>
    <iframe id="trailervid" width="1420" height="680" src="https://www.youtube.com/embed/JfVOs4VSpmA?autoplay=1"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <button id="nextButton" class="trailerbutton" onclick="nextTrailer()">&gt</button>
  </center>
</div>