body {
    margin: 0;
    background-color: rgba(79, 89, 221, 0.623);
    font-size: 17px;
    line-height: 135%;
    /* part of the sticky footer solution */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav a {
    color: rgb(218, 214, 214);
    padding: 0 10px;
    text-decoration: none;
}

h1 {
    color: rgb(143, 12, 12);
}

nav a {
    color: rgb(218, 214, 214);
    padding: 0 10px;
    text-decoration: none;
}

nav .active {
    color: white;
}

header {
    background-color: rgb(190, 67, 98);
    padding: 20px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: white;
    padding: 20px;
    background-color: rgb(143, 12, 12);
}

main article {
    margin: 0 auto;
    max-width: 650px;
    padding: 20px;
}


/* part of movie seat-booking */

.square {
    background: rgb(2, 216, 2);
    color: #fff;
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid black;
}


/*
h1{
    height: 50%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}*/

#containerSeats {
    width: 510px;
    height: 306px;
    border: 2px solid black;
}


/* end of movie seat-booking*/

.cell {
    /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
}

.moviestable {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    border: 1px solid white n;
}

.bookButton {
    background-color: rgb(190, 67, 98);
    border: none;
    color: white;
    padding: 20px 40px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

.account-content {
    text-align: center;
    justify-content: center;
}

form {
    margin-bottom: 100px;
    max-width: 500px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 340px;
}

label {
    display: block;
    margin-bottom: 12px;
}

label span {
    display: inline-block;
    width: 150px;
}

input[type="submit"] {
    float: right;
}

.booking-history-div {
    display: none;
}

.accButtons {
    background-color: rgb(190, 67, 98);
    border: none;
    color: white;
    padding: 20px 40px;
    font-size: 16px;
    margin: 4px 2px;
}

#buttons {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid rgb(190, 67, 98);
}

th,
td {
    padding: 16px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(190, 67, 98);
}